:root {

}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
	font: 700 16px/18px 'Josefin Slab', serif;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

.header {
	width: 100%;
	background: url('../images/bg.jpg') no-repeat top center;
	background-size: cover;
	padding: 25px;
}

.menu-list {
	text-align: center;
	margin-bottom: 320px;
}

.menu-list__item {
	display: inline-block;
	margin: 0 50px;

}

.link {
	font:700 36px/40px 'Josefin Slab', serif;
	text-decoration: none;
	color: #262722;
}

.link:hover {
	color: #df8799;
}
.section {
	text-align: center;
}

.profile{
	margin-top: -170px;
	border-radius: 50%;
	border: 3px solid #fff;
	transition: none;
}

.mazok {
	margin-top: 40px;
}

.title {
	font-size: 48px;
	line-height: 48px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	margin-top: 60px;
}

.title::before {
	content: '';
	background: url(../images/mazok.jpg) no-repeat top center;
	background-size: contain;
	position: absolute;
	top: -65px;
	left: 325px;
	width: 461px;
	height: 166px;
	z-index: -1;
}

.title-projects {
	margin-bottom: 200px;
}

.subtitle {
	font: 700 36px/40px 'Josefin Slab', serif;
	color: #262722;
	margin-top: 10px;
	padding-top: 10px;
}

.content {
	font-size: 16px;
	line-height: 18px;
	margin-top: 100px;
	text-align: left;
}

.icon {
	height: 100px;
}

.social {
	height: 75px;
	width: 75px;
}
.advantage{
	background: #dbf56a;
	margin-top: 140px;
}
.skills-list__item {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	padding-top: 80px;
	margin: 0 25px;
}

.content-skills {
	padding: 60px 0 160px 0;
}

.projects {
	background: url(../images/greenbg.jpg) no-repeat center center;
	background-size: contain;
	background-position: 60% 260px;
	padding: 55px 0 340px;
}
.projects__img{
	width: 100%;
	display: block;

}

.social-list {
	display: flex;
	justify-content: center;
}

.social-item {
	padding-top: 40px;
	margin: 0 20px;
}

.footer {
	width: 100%;
	padding: 50px 0 110px;
	background: url('../images/bg.jpg') no-repeat bottom center;
	background-size: cover;
	text-align: center;
}
.footer a{
	display: block;
}

.image__wrapper{
	margin: 0;
	padding: 0;
	font-size: 0;
}

.link-ftr {
	margin-top: 40px;
	font:700 36px/40px 'Josefin Slab', serif;
	text-decoration: none;
	color: #262722;
}

.link-ftr:hover {
	color: #df8799;
}
